body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .container {
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color:yellow; /* Optional background color for better visibility */
}
.card{
    height: 500px;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    background-color: white;
    /* display: grid;
    grid-template-rows:35% 65% ; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card1{
height: 150px;
width: 300px;

display: flex;
justify-content: center;
align-items: center;
}
.img1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
   
}
#p1{
 font-size: medium;
 font-weight: 600;
}
.profile{
    display: flex;
   align-items: center;
}
.img2{
    height: 50px;
    width: 50px;
}
h6{ padding-left: 8px;
    font-size:small;
}
h2{
    color: rgb(240, 240, 6);
}
button{
    font-size:small;
    font-weight: 700;
    border: none;
    background-color:  rgb(240, 240, 6);
    color: black;
    padding: 7px;
    
}
#p2{
    color: rgb(115, 111, 111);
}
